<!DOCTYPE html>
<html lang="ja" ng-app="myApp" ng-strict-di>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>window.angular || document.write('<script src="/js/angular.min.js"><¥/script>');</script>
<script src="/js/binding.js"></script>
<link rel="shortcut icon" href="">
</head>
<body>
	<div ng-controller="MyController">
		<form>
			<label for="name">名前:</label>
			<input id="name" name="name" type="text" ng-model="myName" />
			<div>こんにちは、{{myName}}さん！</div>
			<div>はじめまして、{{::myName}}さん！</div>
		<div>{{msg_2}}</div>
	</div>
	<!-- SCRIPTS -->
	<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>