<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script>window.angular || document.write('<script src="/js/angular.min.js"><¥/script>');</script>
<script src="/js/service.js"></script>
<link rel="shortcut icon" href="">
</head>
<body>
	<div ng-controller="MyController" class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<table class="table">
				<tr>
					<th>ISBNコード</th><th>書名</th><th>価格</th>
					<th>出版社</th><th>刊行日</th>
				</tr>
				<tr ng-repeat="book in ::books">
					<td>{{::book.isbn}}</td>
					<td>{{::book.title}}</td>
					<td>{{::book.price}}</td>
					<td>{{::book.publish}}</td>
					<td>{{::book.published | date: 'yyyy年MM月dd日'}}</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- SCRIPTS -->
	<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>